.background {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.home {
  position: relative;
  display: flex;
  margin: 12px;
  align-items: flex-start;
  gap: 26px;
  flex-grow: 1;
  view-transition-name: home;
}

.widgetIcon {
  view-transition-name: widget;
}
